<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Выберете фильм, который вы хотите удалить</h3>
  </div>

  <%= render('_films_form', locals: {action: '/delete', text: 'Удалить фильм', films_set: @films.sort_by{|x| x.name}})%>
</div>
