<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Список фильмов</h3>
  </div>

  <%= render('_films_form', locals: {action: "", text: 'Информация о фильме', films_set: @films.sort_by{|x| x.mark.to_i}})%>
</div>
