<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>По данному запросу результатов нет</h3>
    <p>
        <a class="button" href="/films">Вернуться к списку фильмов</a>
    <p>
  </div>
</div>